#screen{{ screen.id }}_shape{{ shape.id }} img
{
    position: absolute;
    left: 0;
    width: {{ shape.width }}px; 
    height: {{ shape.height }}px";
}

#screen{{ screen.id }}_shape{{ shape.id }} img.transparent 
{
    opacity: 0;
}
