<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>{{ project.name }}</title>
<link rel = "stylesheet" type = "text/css" href = "{{ screen.id }}.css" />
<script src="jquery.min.js"></script>
<script src="{{ screen.id }}.js"></script>
</head>
<body>
<div name = "{{ screen.name }}" id = "screen{{ screen.id }}">
{{ screen.diagramManager }}
</div>
</body>
</html>
