body
{
    padding: 0; 
    margin: 0;
}

#screen{{ screen.id }}
{
    padding: 0; 
    margin: 0; 
    height: {{ project.screenHeight }}px; 
    width: {{ project.screenWidth }}px; 
    background-color: {{ screen.backgroundColor }};
}

{{ screen.diagramManager }}
