#screen{{ screen.id }}_shape{{ shape.id }}
{
    padding: 0; 
    margin: 0; 
    position: absolute; 
    top: {{ shape.top }}px; 
    left: {{ shape.left }}px; 
    width: {{ shape.width }}px; 
    height: {{ shape.height }}px";
}
