#screen{{ screen.id }}_shape{{ shape.id }}
{
    padding: 0; 
    margin: 0; 
    position: absolute; 
    top: {{ shape.top }}px; 
    left: {{ shape.left }}px;
    font-size: {{ shape.fontSize }}pt;
    font-family: {{ shape.fontFace }};
    font-style: {{ shape.fontStyle }};
    font-weight: {{ shape.fontWeight }};
    text-decoration: {{ shape.fontUnderlined }};
    color: {{ shape.fontColor }};
}

#screen{{ screen.id }}_shape{{ shape.id }}a
{
    color: {{ shape.fontColor }};
    font-size: {{ shape.fontSize }}pt;
    font-family: {{ shape.fontFace }};
    font-style: {{ shape.fontStyle }};
    font-weight: {{ shape.fontWeight }};
    text-decoration: {{ shape.fontUnderlined }};
}
